<div class="d-flex justify-content-between">
    <div>
        <input (input)="search()" type="text" pInputText [(ngModel)]="searchValue" placeholder="search..."/>
    </div>
    
    <div class="card flex justify-content-center">
        <p-sidebar [(visible)]="sidebarVisible" position="right">
            <div class="filter-card">
                <h3>Gender</h3>
                <div class="d-flex flex-row justify-content-start mr-1">
                    <div class="d-flex justify-content-center">
                        <p-checkbox [(ngModel)]="gender" inputId="male" value="male" (click)="search()"></p-checkbox>
                        <label class="d-flex align-items-center" for="male"  class="mr-1">Male</label>
                    </div>
                    <div class="d-flex justify-content-center mr-1">
                        <p-checkbox [(ngModel)]="gender" inputId="female" value="female" (click)="search()"></p-checkbox>
                        <label class="d-flex align-items-center" for="female"  class="mr-1">Female</label>
                    </div>
                </div>
            </div>
            <div class="filter-card">
                <h3>Age</h3>
                <p-inputNumber [(ngModel)]="ageNumber" [showButtons]="true" spinnerMode="vertical" inputId="vertical" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" ></p-inputNumber>
                <div class="d-flex flex-row justify-content-around mt-2 mb-2">
                    <div class="d-flex justify-content-center mr-1" *ngFor="let filter of ageFilter">
                        <p-radioButton [(ngModel)]="ageText" name="age" inputId="equal" [value]="filter"></p-radioButton>
                        <label class="d-flex align-items-center" [for]="filter"  class="mr-1">{{filter}}</label>
                    </div>
                </div>
                <p-button label="submit" (click)="search()"></p-button>
            </div>
            <div class="filter-card">
                <h3>eye color</h3>
                <div class="d-flex flex-wrap" >
                    <div class="d-flex justify-content-center mr-1 mt-1 w-50" *ngFor="let color of eyeColors">
                        <p-checkbox [(ngModel)]="eyeColor" [inputId]="color" [value]="color" (click)="search()"></p-checkbox>
                        <label class="d-flex align-items-center" [for]="color"  class="mr-1">{{color}}</label>
                    </div>
                </div>
            </div>
            <div class="filter-card">
                <h3>birthdate</h3>
                <div class="mb-2">
                    <h5>from:</h5>
                    <p-calendar [(ngModel)]="minBirthdateRange" class="max-w-full" [inline]="true" [showWeek]="true"></p-calendar>
                </div>
                <div class="mb-2">
                    <h5>to:</h5>
                    <p-calendar [(ngModel)]="maxBirthdateRange" class="max-w-full" [inline]="true" [showWeek]="true"  [readonlyInput]="true"></p-calendar>
                </div>
                <p-button label="submit" (click)="search()"></p-button>
            </div>
            <p-button label="remove filters" (click)="removeFilters()" class="mr-1"></p-button>
        </p-sidebar>
        <p-button icon="pi pi-filter" (click)="sidebarVisible = true" label="filter"></p-button>
    </div>
</div>

<div class="card-container mt-2">
    <p-table [value]="this.filteresUsers" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th class="t-center">firstName</th>
                <th class="t-center">lastName</th>
                <th class="t-center">age</th>
                <th class="t-center">gender</th>
                <th class="t-center">email</th>
                <th class="t-center">phone</th>
                <th class="t-center">eyeColor</th>
                <th class="t-center">birthdate</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td class="t-center">{{ user.firstName }}</td>
                <td class="t-center">{{ user.lastName }}</td>
                <td class="t-center">{{ user.age }}</td>
                <td class="t-center">{{ user.gender }}</td>
                <td class="t-center">{{ user.email }}</td>
                <td class="t-center">{{ user.phone }}</td>
                <td class="t-center">{{ user.eyeColor }}</td>
                <td class="t-center">{{ user.birthdate.split('T')[0] }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>